body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(to left, rgb(195, 193, 255), rgb(250, 200, 255) );
}
.sidebar {
width: 15%;
background-color: #ffffff;
height: 100vh;
padding-top: 20px;
}
.sidebar h2 {
text-align: center;
}
.sidebar ul {
list-style: none;
padding: 0;
}
.sidebar ul li {
padding: 10px;
text-align: left;
border-bottom: 1px solid #444;
cursor: pointer;
}
.sidebar ul li:hover {
background-color: #cccccc;
}
.sidebar ul li a {
color: white;
text-decoration: none;
display: block;
}
.sidebar .profile {
text-align: center;
margin-bottom: 20px;
color: #000000;
}

.sidebar .profile img {
width: 80px;
height: 80px;
border-radius: 50%;
cursor: pointer;
color: #000000;
}