* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to left, rgb(195, 193, 255), rgb(250, 200, 255) );
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    display: flex;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
}

.left-section {
    flex: 1;
    background-image: url('../styles/picture/bg-logo.jpg');
    position: sticky;
}

.left-section::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(87, 89, 231, 0.425);
}

.right-section {
    flex: 1;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 60px;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

form {
    width: 100%;
    max-width: 350px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px 40px 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

.input-group .icon {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #666;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #5776ff;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3a48c8;
}
